@import './styles.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  transition: 0.3s;
  z-index: -1;
}

.modal-change {
  width: 100%;
  max-width: 600px;
  background-color: $white;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px;
  border: 4px solid cornflowerblue;
  border-radius: 15px;
  transform: scale(0);
  transition: 0.3s;
  position: relative;

  &__close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: 0.3s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $textColor;
      transition: 0.3s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: red;
    }

    &:hover {
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }

  &__figure-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid $textColor;
  }

  &__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-squere,
  &__item-circle,
  &__item-rectangle,
  &__item-oval {
    height: 40px;
    background-color: rgba(40, 17, 191, 1);
    box-shadow: 0px 15px 27px 5px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    cursor: pointer;
  }

  &__item-squere,
  &__item-circle {
    width: 40px;
  }

  &__item-circle,
  &__item-oval {
    border-radius: 50%;
  }

  &__item-rectangle,
  &__item-oval {
    width: 70px;
  }

  &__item-oval {
    margin-right: 0;
  }

  &__title {
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  &__color-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $textColor;
  }

  &__color-title {
    font-weight: 700;
  }

  &__input {
    display: none;
  }

  &__color {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    margin-left: 20px;
    cursor: pointer;
  }

  &__color-result-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $textColor;
  }

  &__color-title {
    margin-right: 10px;
  }

  &__color-result {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
  }

  &__colors-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $textColor;
  }

  &__colors-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__colors-value {
    width: 140px;
    height: 25px;
    border: 1px solid $textColor;
    margin-bottom: 10px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__btn-apply,
  &__btn-cancel {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 15px 27px 5px rgba(0, 0, 0, 0.25);
    outline: none;
    display: block;
    color: $lightGrey;
    text-align: center;
    line-height: 37px;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__btn-apply {
    background-color: green;
  }

  &__btn-cancel {
    background-color: red;
  }
}

.modal-show {
  width: 100%;
  max-width: 600px;
  padding: 15px 15px 30px 15px;
  background-color: $white;
  border: 4px solid cornflowerblue;
  border-radius: 15px;
  position: relative;
  transform: scale(0);
  transition: 0.3s;

  &__item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 35px;
  }

  &__square,
  &__circle {
    width: 500px;
    height: 0;
    padding-bottom: 100%;
    background-color: purple;
    box-shadow: 0px 15px 27px 5px rgba(0, 0, 0, 0.25);
  }

  &__circle {
    border-radius: 50%;
  }

  &__oval,
  &__rectangle {
    width: 500px;
    height: 0;
    padding-bottom: 50%;
    background-color: purple;
    box-shadow: 0px 15px 27px 5px rgba(0, 0, 0, 0.25);
  }

  &__oval {
    border-radius: 50%;
  }

  &__btn-close {
    width: 150px;
    height: 35px;
    color: $lightGrey;
    text-align: center;
    line-height: 40px;
    display: block;
    margin: 0 auto;
    outline: none;
    border-radius: 7px;
    background-color: green;
    box-shadow: 0px 15px 27px 5px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }

    &:active {
      box-shadow: none;
    }
  }
}

@media (max-width: 550px) {
  .overlay {
    align-items: flex-start;
  }

  .modal-change {
    margin-top: 35px;
  }

  .modal-change__color-container,
  .modal-change__colors-wrapper,
  .modal-change__color-result-container,
  .modal-change__figure-container {
    flex-direction: column;
  }

  .modal-change__color-title {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .modal-change__color {
    margin-left: 0;
  }

  .modal-change__color-result-container {
    flex-direction: column;
  }

  .modal-change__colors-item {
    flex-direction: row;
    margin-bottom: 15px;
  }

  .modal-change__colors-value {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .modal-change__btn-apply,
  .modal-change__btn-cancel {
    width: 120px;
  }

  .modal-show {
    margin-top: 35px;
  }
}
